:root{
    --dark-blue:#2C3E50;
    --green-acqua:#1ABC9C;
    --lightdark-blue:#3A546D;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
    text-decoration: none;
}

a{  color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.debug{
    border: 1px solid rgb(255, 115, 0);
    padding: 10px;
}

/****** header *******/
.header-main{
    background-color: var(--dark-blue);
    max-height: 75px;
    padding: 22px 0;
    color: white;
    text-transform: uppercase;
}

li.about-menu{
    margin: 0 18px;
}

/***bottoni***/
.my-button{
    background-color: transparent;
    color: currentColor;
    border: 1px solid currentColor;
    padding: 5px;
}
/*************/

@media screen and (min-width: 1121px) {
    .header-main{        
        max-height: 90px;      
    }
}

/***fine header***/

.green-a{
    background-color: var(--green-acqua);
    color: white;
}

.avatar img{
    width: 188px;
}

@media screen and (min-width: 1121px) {
    .avatar img{
        width: 228px;    
    }
}

.star::before{
    content: '';
    display: block;
    height: 4px;
    width: 140px;    
    background-color: currentColor;
    border-radius: 20px;
    margin: 20px 25px;
}

.star::after{
    content: '';
    display: block;
    height: 4px;
    width: 140px;    
    background-color: currentColor;
    border-radius: 20px;
    margin: 20px 25px;
}

.star,
.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle li{
    margin: 0 5px;
    padding: 0 5px;
}

.element-list{
    list-style-type: "-";
}
/**fine first section**/

.portfolio{
    color: black;
    padding: 42px 0 50px;
}

.about button.my-button,
.write-us .my-button{
    border-radius: 10px;
    padding: 5px 15px;
}

.write-us input,
.write-us textarea{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 5px;
}

.more-info{
    background-color: var(--lightdark-blue);
    color: white;
    padding: 50px 0;
}

.social-info{
    margin: 32px 0;
}

.social-info .social__link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__link i{
    border: 1px solid currentColor;
    border-radius: 50%;
}

a .fb{
    padding: 5px 10px;
}

a .gp{
    padding: 6px 5px;
}

a .tw,
a .lkd{
    padding: 5px 9px;
}

footer .policy{
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    padding: 35px 0;
}

/***padding section**/
section.start{
    padding: 30px 0;
}

section.about,
section.write-us{
   padding: 42px 0 22px;
}

@media screen and (min-width: 1121px) {
    header.header-main{
        padding: 33px 0;
    }

    section.start{
        padding: 70px 0;
    }

    section.portfolio{
        padding:85px;
    }

    section.about,
    section.write-us{
        padding: 85px 0 60px;
    }

    .social-info{
        margin: 0;
    }

    footer .policy{        
        padding: 40px 0;
    }
}
