:root{
    --dark-blue:#2C3E50;
    --green-acqua:#1ABC9C;
    --lightdark-blue:#3A546D;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
    text-decoration: none;
}

a{  color: currentColor;
    text-decoration: none;
}
.debug{
    border: 1px solid rgb(255, 115, 0);
    padding: 10px;
}

/****** header *******/
.header-main{
    background-color: var(--dark-blue);
    max-height: 75px;
    color: white;
    text-transform: uppercase;
}

li.about-menu{
    margin: 0 18px;
}

.burger-nav{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px;
}

@media screen and (min-width: 1121px) {
    .header-main{        
        max-height: 90px;      
    }
}

/***fine header***/

.green-a{
    background-color: var(--green-acqua);
}

.faq .button{
    margin-top: auto;
}

.more-info{
    background-color: var(--lightdark-blue);
    color: white;
}

.social-info .social{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .policy{
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
}