:root{
    --dark-blue:#2C3E50;
    --green-acqua:#1ABC9C;
    --lightdark-blue:#3A546D;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
    text-decoration: none;
}

a{  color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.debug{
    border: 1px solid rgb(255, 115, 0);
    padding: 10px;
}

/****** header *******/
.header-main{
    background-color: var(--dark-blue);
    max-height: 75px;
    color: white;
    text-transform: uppercase;
}

li.about-menu{
    margin: 0 18px;
}

.burger-nav{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px;
}

@media screen and (min-width: 1121px) {
    .header-main{        
        max-height: 90px;      
    }
}

/***fine header***/

.green-a{
    background-color: var(--green-acqua);
    color: white;
}

.avatar img{
    max-height: 210px;
}

@media screen and (min-width: 1121px) {
    .avatar img{
        max-height: 255px;
    }
}

.star::before{
    content: '';
    display: block;
    height: 4px;
    width: 140px;    
    background-color: currentColor;
    border-radius: 20px;
    margin: 20px 25px;
}

.star::after{
    content: '';
    display: block;
    height: 4px;
    width: 140px;    
    background-color: currentColor;
    border-radius: 20px;
    margin: 20px 25px;
}

.star,
.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle li{
    margin: 0 5px;
    padding: 0 5px;
}

.element-list{
    list-style-type: "-";
}

.faq .button{
    margin-top: auto;
}

.more-info{
    background-color: var(--lightdark-blue);
    color: white;
}

.social-info .social{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .policy{
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
}